bidict==0.21.2
certifi==2020.12.5
click==7.1.2
Flask==1.1.2
Flask-SocketIO==5.0.1
h11==0.12.0
h2==3.2.0
hpack==3.0.0
httpcore==0.12.3
httpx==0.16.1
hyperframe==5.2.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pbr==1.10.0
pytchat==0.5.3
python-engineio==4.0.1
python-socketio==5.1.0
rfc3986==1.4.0
six==1.10.0
sniffio==1.2.0
stevedore==1.15.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==1.0.1
