<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat's Chess Moves</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      #move_log_div{
        position: relative;
        height: 600px;
        overflow: auto;
      }
    </style>

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-beta.1/chartjs-plugin-datalabels.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.12.1/underscore-min.js"></script>


    <script type="text/javascript" charset="utf-8">
        //from https://gist.github.com/0x263b/2bdd90886c2036a1ad5bcf06d6e6fb37
        String.prototype.toHex = function() {
            var hash = 0;
            if (this.length === 0) return hash;
            for (var i = 0; i < this.length; i++) {
                hash = this.charCodeAt(i) + ((hash << 5) - hash);
                hash = hash & hash;
            }
            var color = '#';
            for (var i = 0; i < 3; i++) {
                var value = (hash >> (i * 8)) & 255;
                color += ('00' + value.toString(16)).substr(-2);
            }
            return color;
        };

    window.onload = function() {
        var move_data = {};
        var active_guessers = {};
        //TODO^ use local storage for these vars
        var master_guess_count = 0;
        var top_moves = {};
        var leaderboard_size = 10;

        const getOrCreateTooltip = (chart) => {
          let tooltipEl = chart.canvas.parentNode.querySelector('div');

          if (!tooltipEl) {
            tooltipEl = document.createElement('div');
            tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
            tooltipEl.style.borderRadius = '3px';
            tooltipEl.style.color = 'white';
            tooltipEl.style.opacity = 1;
            tooltipEl.style.pointerEvents = 'none';
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.transform = 'translate(-50%, 0)';
            tooltipEl.style.transition = 'all .1s ease';

            const table = document.createElement('table');
            table.style.margin = '0px';

            tooltipEl.appendChild(table);
            chart.canvas.parentNode.appendChild(tooltipEl);
          }

          return tooltipEl;
        };

        const externalTooltipHandler = (context) => {
          // Tooltip Element
          const {chart, tooltip} = context;
          const tooltipEl = getOrCreateTooltip(chart);

          // Hide if no tooltip
          if (tooltip.opacity === 0) {
            tooltipEl.style.opacity = 0;
            return;
          }

          // Set Text
          if (tooltip.body) {
            const titleLines = tooltip.title || [];
            const bodyLines = tooltip.body.map(b => b.lines);

            const tableHead = document.createElement('thead');

            titleLines.forEach(title => {
              const tr = document.createElement('tr');
              tr.style.borderWidth = 0;

              const th = document.createElement('th');
              th.style.borderWidth = 0;
              const text = document.createTextNode(title);

              th.appendChild(text);
              tr.appendChild(th);
              tableHead.appendChild(tr);
            });

            const tableBody = document.createElement('tbody');
            bodyLines.forEach((body, i) => {
              const colors = tooltip.labelColors[i];

              const span = document.createElement('span');
              span.style.background = colors.backgroundColor;
              span.style.borderColor = colors.borderColor;
              span.style.borderWidth = '2px';
              span.style.marginRight = '10px';
              span.style.height = '10px';
              span.style.width = '10px';
              span.style.display = 'inline-block';

              const tr = document.createElement('tr');
              tr.style.backgroundColor = 'inherit';
              tr.style.borderWidth = 0;

              const td = document.createElement('td');
              td.style.borderWidth = 0;

              const text = document.createTextNode(body);

              td.appendChild(span);
              td.appendChild(text);
              tr.appendChild(td);
              tableBody.appendChild(tr);
              //console.log(top_moves[titleLines[0]]);

              //append top_guessers
              _.each(top_moves[titleLines[0]], function(author){
                  var guesser_span = document.createElement('span');

                  var guesser_tr = document.createElement('tr');
                  guesser_tr.style.backgroundColor = 'inherit';
                  guesser_tr.style.borderWidth = 0;

                  var guesser_td = document.createElement('td');
                  guesser_td.style.borderWidth = 0;

                  var guesser_text = document.createTextNode(author);

                  guesser_td.appendChild(guesser_span);
                  guesser_td.appendChild(guesser_text);
                  guesser_tr.appendChild(guesser_td);
                  tableBody.appendChild(guesser_tr);
                }
              );

            });

            const tableRoot = tooltipEl.querySelector('table');

            // Remove old children
            while (tableRoot.firstChild) {
              tableRoot.firstChild.remove();
            }

            // Add new children
            tableRoot.appendChild(tableHead);
            tableRoot.appendChild(tableBody);
          }

          const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

          // Display, position, and set styles for font
          tooltipEl.style.opacity = 1;
          tooltipEl.style.left = positionX + tooltip.caretX + 'px';
          tooltipEl.style.top = positionY + tooltip.caretY + 'px';
          tooltipEl.style.font = tooltip.options.bodyFont.string;
          tooltipEl.style.padding = tooltip.padding + 'px ' + tooltip.padding + 'px';
        };


        var config = {
          type: 'bar',
          data:
              {
                  datasets: [{
                    //maxBarThickness: 50,
                    data: []
                  }],
                  labels: []
               },
          plugins: [ChartDataLabels],
          options:
              {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,

                animation: {
                  duration: 0
                },

                scales: {
                  x: {
                    grace: '5%',
                    beginAtZero: true,
                    ticks: {
                      stepSize: 1
                    }
                  },
                  y: {
                    ticks: {
                      font: {
                        size: 20
                      }
                    }
                  }
                },

                plugins: {
                  legend: {
                    display: false
                  },

                  tooltip: {
                    enabled: false,
                    position: 'nearest',
                    external: externalTooltipHandler
                  }

                }
              }
        };

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, config);

        var parse_move_data = function(m_data) {
            //console.log(m_data);
            m_data_tmp = _.each(m_data, function(v, k, o) { return v });
            //console.log(m_data_tmp);
            dat = [];
            labels = [];
            colors = [];
            //Limits to top 10 answers
            counts = _.countBy(m_data_tmp,'move');
            //console.log(counts);
            //build object in format [{'move': 'bb4', 'count': 2}, ..]
            move_counts = []
            _.each(counts, function(v, k, o) {
              move_counts.push({move: k, count: v});
            });
          //console.log(move_counts);
            sorted_counts = _.sortBy(move_counts, function(o){return o.count}).reverse();
          //console.log(sorted_counts);
            counter = 0;
            _.each(sorted_counts, function(o) {
              if(counter < 10){
                dat.push(o.count);
                labels.push(o.move);
                colors.push(o.move.toHex());
              };
              counter++;
            });
          mov_dat =
            {
              labels: labels,
              datasets:
              [
                {
                  datalabels: {
                    color: '#414548',
                    anchor: 'end',
                    align: 'right',
                    offset: '5',
                    //font: {
                    //  weight: 'bold'
                    //},
                  },
                  maxBarThickness: 50,
                  data: dat,
                  backgroundColor: colors
                }
              ]
            };
          chart.data = mov_dat;
          chart.update();
          return mov_dat;
        };




      document.getElementById('logdata').addEventListener('click', function() {
        //console.log(move_data);
        parse_move_data(move_data);
      });

      var format_author = function(obj){
        author = '<img style="border-radius:50%" width="24" height="24" src="'+obj.img_url+'"/>&nbsp;' + obj.author + '&nbsp;<img src="'+obj.badge_url+'"/>';
        if(obj.isMod){
          return '<b style="color:#5e84f1">'+author+'<i class="bi bi-wrench"></i></b>';
        }
        return author;
      };

      var format_time = function(time){
        //console.log(time);
        time_str = time.substring(11,19);
        return time_str;
      };

      var socket;
      var connect_to_socket = function(yt_id){
        namespace = '/test';
        socket = io(namespace);

        socket.on('connect', function() {
            socket.emit('my_event', {data: 'connected to the SocketServer...',
              yt_id: yt_id});
            $('#yt_id_form').hide();
            $('#disconnect').show();
            //socket.join("room-"+yt_id);
        });

        socket.on('my_response', function(msg, cb) {


            master_guess_count += 1;
            $('#total_guessers').html('<h6>'+master_guess_count+' total guesses</h6>');

            if(active_guessers.hasOwnProperty(msg.author)){ // guesser has guessed before
              active_guessers[msg.author] += 1;
            } else {
              active_guessers[msg.author] = 1;
            }


            move_data[msg.author_id] = msg;
            if(top_moves.hasOwnProperty(msg.move)){ //move already logged before
                if ((top_moves[msg.move].length < leaderboard_size) && !(top_moves[msg.move].includes(msg.author))){
                top_moves[msg.move].push(msg.author);
              }
            }else{ //first time move is logged
              top_moves[msg.move] = [msg.author];
            }

            // set color on this element as well
            // reduce font size to same as youtube chat
            move_color_block = '<td style="background-color:'+msg.move.toHex()+'">&nbsp;</td>';
            author_block = '<td>'+format_author(msg)+'</td>';
            row_html = '<tr>'+move_color_block+'<td>'+msg.move+'</td>'+ author_block+'<td>'+format_time(msg.utctime)+'</td></tr>';

            $('#log_table').prepend(row_html);
            count = _.size(_.allKeys(move_data));
            $('#move_counter').html('<h5>'+count+' moves logged</h5>');

            if(msg.count % 3 == 0){ //update chart after every 3 new data points
              parse_move_data(move_data);
              //console.log(active_guessers);
              //TODO Create stats section to display this data
            }
            if (cb)
                cb();
        });

      }

      document.getElementById('send_yt_id').addEventListener('click', function() {
        yt_id = $('#yt_id').val();

        //valid = validVideoId(yt_id);
        valid = true;
        console.log(valid);
        if(valid){
          img_src = "http://img.youtube.com/vi/" + yt_id + "/default.jpg";
          $('#img_thumb').html('<img id="theImg" src="'+img_src+'" />')
          connect_to_socket(yt_id);
          console.log('sending yt_id: '+yt_id);
        }else{
          alert('invalid video id. please check and try again');
        }
      });

      document.getElementById('cleardata').addEventListener('click', function() {
        move_data = {};
        top_moves = {};
        parse_move_data(move_data);

        // also clear logs
        $('#log_table').empty();
        $('#move_counter').html('');

        });


      document.getElementById('disconnect').addEventListener('click', function() {
          socket.emit('disconnect_request');
          $('#yt_id_form').show();
          $('#disconnect').hide();
          return false;
        });

      };


    function validVideoId(id) {
      var img = new Image();
      img.src = "http://img.youtube.com/vi/" + id + "/default.jpg";
      img.onload = function () {
        //console.log(this.width);
      }
      return(img.width==120);
    }

    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PBHBLF4JF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-9PBHBLF4JF');
    </script>


  </head>
  <body>

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Chat's Chess Moves</span>
      </a>
    </header>

    <!-- ROW 2 -->
    <div class="row align-items-md-stretch">

      <div class="col-md-6">
        <div class="h-100 p-5 rounded-3">
          <!-- <h3>rS-FpbFuP0M</h3> -->

          <div id="yt_id_form">
            <label for="basic-url">Your youtube video URL</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://www.youtube.com/watch?v=<span>
              </div>
              <input type="text" class="form-control" id="yt_id" aria-describedby="basic-addon3">
              <button class="btn btn-outline-secondary" type="button" id="send_yt_id">Submit</button>
            </div>
          </div>


          <div id="img_thumb"></div>
          <div id="move_btns">
          <button class="btn btn-outline-secondary" type="button" id="logdata">Force chart update</button>
          <button class="btn btn-outline-secondary" type="button" id="cleardata">Clear all moves</button>
	  <!--- <button class="btn btn-outline-secondary" type="button" id="cleardata">Clear moves older than 1min</button> -->
          </div>

          <button class="btn btn-outline-secondary" type="button" id="disconnect" style="display: none;">Stop</button>
          <!-- <div class="chart-container" style="width: 640px; height: 480px"> -->
          <div class="chart-container" style="height: 360px">
            <canvas id="myChart"></canvas>
          </div>
          <br/>
          <br/>
          <br/>
          <div id="total_guessers"></div>
          <div>
            <p>
              Chart only displays the top 10 most common moves
            </p>
            <p>
              Tooltips display first 10 guessers for that move
            </p>
          </div>

        </div>
      </div>

      <div id="move_log_div" class="col-md-6">
        <div class="h-100 p-5 border bg-light rounded-3">
          <h2>Move Log</h2>

          <div id="move_counter"></div>

          <table style="font-size: 13px" class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col" style="width: 5px"></th>
                <th scope="col" width="5%">Move</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody id="log_table">
            </tbody>
          </table>

        </div>
      </div>

    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      <p>Made with <3 for Sagar Shah</p>
      <p><a href="/changelog">Changelog</a></p>
    </footer>
  </div>
</main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js" integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js" integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw==" crossorigin="anonymous"></script>

  </body>
</html>
