<!DOCTYPE HTML>
<html>
<head>
    <title>Changelog</title>
</head>
<body>
	Go back to the app <a href="/moves">here</a>



  <h3>Changelog</h3>
  <ul>
    <b>04.23.2021</b>
    <li>
      Added changelog page
    </li>
    <li>
      Correctly parse 0-0 as o-o and 0-0-0 as o-o-o
    </li>
    <li>
      Removed animation from bar chart
    </li>
    <li>
      Added first-10 guessers to tooltip
    </li>
    <li>
      Fixed timestamps in Move Log
    </li>
    <b>04.24.2021</b>
    <li>
      Added Google analytics
    </li>
  </ul>

</body>
</html>
