<!DOCTYPE HTML>
<html>
<head>
    <title>Changelog</title>
</head>
<body>
	Go back to the app <a href="/moves">here</a>



  <h3>Changelog</h3>
  <ul>
    <b>04.29.2021</b>
    <li>
      Reduce requests made to YT on server side by adding 2s sleep (to avoid being rate limited)
    </li>
    <b>04.28.2021</b>
    <li>
      Added config parser support to flask app
    </li>
    <li>
      Replaced prints with logger to flask app
    <b>04.27.2021</b>
    <li>
      Added datalabels plugin
    </li>
    <li>
      Added total guesses stat
    </li>
    <b>04.24.2021</b>
    <li>
      Added Google analytics
    </li>
    <li>
      Refactored move parser into its own file and added some test cases
    </li>
    <li>
      Fixed some bugs in move parser
    </li>
    <b>04.23.2021</b>
    <li>
      Added changelog page
    </li>
    <li>
      Correctly parse 0-0 as o-o and 0-0-0 as o-o-o
    </li>
    <li>
      Removed animation from bar chart
    </li>
    <li>
      Added first-10 guessers to tooltip
    </li>
    <li>
      Fixed timestamps in Move Log
    </li>
  </ul>

</body>
</html>
